<div class="container">
  <div class="row">
    <div class="large-12 medium-12 columns">
      <h3 class="suggestion-heading">Follow Suggestions for that category:</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-2 medium-2 columns"></div>
    <div class="large-8 medium-8 columns">
      <h3 class="suggestion-heading">Welcome to Who To Follow. Pick a category to see suggestions on Twitter users to follow.</h3>
    </div>
    <div class="large-2 medium-2 columns"></div>
  </div>

  <div class="row">
    <div class="large-8 medium-8 small-centered columns">
      <% @twitter_users.each do |user| %>
      <div class="row">
        <div class="large-3 medium-3 columns">
          <img src="<%= user[:image_url] %>" class="profile-image">
        </div>
        <div class="large-3 medium-3 columns">
          <a href="https://twitter.com/<%= user[:screen_name] %>"><h4 class="twitter-info-text"><%= user[:name] %></h4></a>
          <h4 class="twitter-info-text"><%= user[:screen_name] %></h4>
        </div>
        <div class="large-3 medium-3 columns">
          <h4 class="twitter-info-text"><%= user[:followers_count] %></h4>
          <h4 class="twitter-info-text"><%= user[:following_count] %></h4>
        </div>
        <div class="large-3 medium-3 columns">
          <h4 class="twitter-info-text"><%= user[:statuses_count] %></h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
